function Main.main 1
push constant 2
pop local 0
push constant 0
push local 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
call Output.printInt 1
goto IF_END1
label IF_FALSE1
push constant 2
push local 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 42
call Output.printInt 1
goto IF_END2
label IF_FALSE2
push constant 4
call String.new 1
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
call Output.printString 1
label IF_END2
label IF_END1
pop temp 0
pop temp 0
pop temp 0
call Output.println 0
return

