// bibliotheque d'execution pour mini-ml
// module Pervasives
//
// Loïc Sylvestre
//
///////////////////////////////////////////////////////////////
// val magic : 'a -> 'b
///////////////////////////////////////////////////////////////
function ML_obj.magic 0
	push argument 0
	return 
///////////////////////////////////////////////////////////////