// bibliotheque d'execution pour mini-ml
// module Stdlib_array
//
// Loïc Sylvestre
//
///////////////////////////////////////////////////////////////
// [exit n]
///////////////////////////////////////////////////////////////
function Pervasives.exit 0
	push argument 0
	call Sys.error 1 
	return
///////////////////////////////////////////////////////////////
// val ref : 'a -> 'a ref
///////////////////////////////////////////////////////////////
function Pervasives.ref 0
	push constant 1
	push argument 0
	call Array.make 2
	return
///////////////////////////////////////////////////////////////
// val ref_contents : 'a ref -> 'a
///////////////////////////////////////////////////////////////
function Pervasives.ref_contents 0
	push argument 0
	push constant 0
	call Array.get 2
	return 
///////////////////////////////////////////////////////////////
// val ref_set_contents : 'a ref -> 'a -> unit
///////////////////////////////////////////////////////////////
function Pervasives.ref_set_contents 0
	push argument 0
	push constant 0
	push argument 1
	call Array.set 3
	return
///////////////////////////////////////////////////////////////
// val incr : int ref -> unit
///////////////////////////////////////////////////////////////
function Pervasives.incr 0
	push argument 0
	push argument 0
	call Pervasives.ref_contents 1
	push constant 1
	add
	call Pervasives.ref_set_contents 2
	return
///////////////////////////////////////////////////////////////
// val decr : int ref -> unit
///////////////////////////////////////////////////////////////
function Pervasives.decr 0
	push argument 0
	push argument 0
	call Pervasives.ref_contents 1
	push constant 1
	sub
	call Pervasives.ref_set_contents 2
	return
///////////////////////////////////////////////////////////////
// val print_int : int -> unit
///////////////////////////////////////////////////////////////
function Pervasives.print_int 0
	push argument 0
	call Output.printInt 1
	push constant 0
 	return
///////////////////////////////////////////////////////////////
// val print_char : char -> unit
///////////////////////////////////////////////////////////////
function Pervasives.print_char 0
	push argument 0
	call Output.printChar 1
	push constant 0
 	return
///////////////////////////////////////////////////////////////
// val print_string : string -> unit
///////////////////////////////////////////////////////////////
function Pervasives.print_string 2
	push argument 0
	call String.length 1
	pop local 0
	push constant 0
	pop local 1
label L1
	push local 1
	push local 0
	lt
	not
	if-goto L2
	push argument 0
	push local 1
	call String.get 2
	call Output.printChar 1
	push constant 1
	push local 1
	add 
	pop local 1
	goto L1
label L2
 	return
///////////////////////////////////////////////////////////////
// val int_of_char : char -> int
///////////////////////////////////////////////////////////////
function Pervasives.int_of_char 0
	push argument 0
	return 
///////////////////////////////////////////////////////////////
// val char_of_int : int -> char
///////////////////////////////////////////////////////////////
function Pervasives.char_of_int 0
	push argument 0
	return