///////////////////////////////////////////////////////////////////////////////
// val make : int -> char -> string
// [String.make n c] returns a fresh string of length n, filled with the character c.
// TODO : error if n < 0 or n > Sys.max_string_length.
///////////////////////////////////////////////////////////////////////////////
function String.make 0 
	push argument 0
	push argument 1
	call Array.make 2
	return
///////////////////////////////////////////////////////////////////////////////	
// val length : string -> int
// Return the length (number of characters) of the given string.
///////////////////////////////////////////////////////////////////////////////
function String.length 0 
	push argument 0
	call Array.length 1
	return
///////////////////////////////////////////////////////////////////////////////	
// val get : string -> int -> char
// [String.get s n] returns the character at index n in string s. 
// You can also write s.[n] instead of String.get s n.
// TODO : error if n not a valid index in s.
///////////////////////////////////////////////////////////////////////////////	
function String.get 0 
	push argument 0
	push argument 1
	call Array.get 2
	return