function ML_Ast_lift.gen 0
    push static 0
    return
function ML_Ast_lift.__init__gen 0
    push constant 0
    call ML_Gensym.create 1
    pop static 0
    push static 0
    pop temp 7
    return
function ML_Ast_lift.create 0
    push constant 0
    call ML_Pervasives.ref 1
    return
function ML_Ast_lift._lambda3 0
    push static 1
    return
function ML_Ast_lift.__init___lambda3 2
    push constant 1
    call ML_Array.create_uninitialized 1
    pop local 1
    push local 1
    push constant 0
    push constant 10002
    call ML_Internal.array_set 3
    pop temp 0
    push local 1
    pop static 1
    push static 1
    pop temp 7
    return
function ML_Ast_lift.rw_exp 9
label rw_exp
    push argument 3
    pop local 0
    push local 0
    push constant 256
    gt
    not
    not
    if-goto IfFalse175
    push local 0
    goto IfEnd176
label IfFalse175
    push local 0
    push constant 0
    call ML_Array.get 2
label IfEnd176
    pop local 1
    push local 1
    push constant 7
    lt
    not
    if-goto IfFalse215
    push local 1
    push constant 3
    lt
    not
    if-goto IfFalse189
    push local 1
    push constant 1
    lt
    not
    if-goto IfFalse179
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 3
    push local 3
    push constant 0
    push constant 0
    call ML_Internal.array_set 3
    pop temp 0
    push local 3
    push constant 1
    push local 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 3
    goto IfEnd180
label IfFalse179
    push local 1
    push constant 1
    eq
    not
    if-goto IfFalse177
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 3
    push local 3
    push constant 0
    push constant 1
    call ML_Internal.array_set 3
    pop temp 0
    push local 3
    push constant 1
    push local 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 3
    goto IfEnd178
label IfFalse177
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push local 0
    push constant 3
    call ML_Array.get 2
    pop local 4
    push local 2
    push local 5
    call ML_Internal.make_pair 2
    pop local 5
    push constant 4
    call ML_Array.create_uninitialized 1
    pop local 6
    push local 6
    push constant 0
    push constant 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 6
    push constant 1
    push local 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 6
    push constant 2
    push argument 0
    push argument 1
    push local 5
    push local 3
    call ML_Ast_lift.rw_exp 4
    call ML_Internal.array_set 3
    pop temp 0
    push local 6
    push constant 3
    push argument 0
    push argument 1
    push local 5
    push local 4
    call ML_Ast_lift.rw_exp 4
    call ML_Internal.array_set 3
    pop temp 0
    push local 6
label IfEnd178
label IfEnd180
    goto IfEnd190
label IfFalse189
    push local 1
    push constant 3
    eq
    not
    if-goto IfFalse187
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push argument 2
    push local 4
    call ML_List.append 2
    pop local 4
    push local 2
    push constant 0
    call ML_Internal.make_pair 2
    pop local 5
    push argument 0
    push local 4
    push local 5
    push local 3
    call ML_Ast_lift.rw_exp 4
    pop local 3
    push constant 7
    call ML_Array.create_uninitialized 1
    pop local 5
    push local 5
    push constant 0
    push constant 95
    call ML_Internal.array_set 3
    pop temp 0
    push local 5
    push constant 1
    push constant 108
    call ML_Internal.array_set 3
    pop temp 0
    push local 5
    push constant 2
    push constant 97
    call ML_Internal.array_set 3
    pop temp 0
    push local 5
    push constant 3
    push constant 109
    call ML_Internal.array_set 3
    pop temp 0
    push local 5
    push constant 4
    push constant 98
    call ML_Internal.array_set 3
    pop temp 0
    push local 5
    push constant 5
    push constant 100
    call ML_Internal.array_set 3
    pop temp 0
    push local 5
    push constant 6
    push constant 97
    call ML_Internal.array_set 3
    pop temp 0
    push local 5
    call ML_Ast_lift.gen 0
    call ML_Gensym.next 2
    pop local 4
    push local 4
    push local 5
    push local 3
    call ML_Freevr.collect 3
    pop local 5
    push local 5
    pop local 6
    push local 6
    push constant 256
    gt
    not
    not
    if-goto IfFalse181
    push local 6
    goto IfEnd182
label IfFalse181
    push local 6
    push constant 0
    call ML_Array.get 2
label IfEnd182
    pop local 7
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 8
    push local 8
    push constant 0
    push constant 3
    call ML_Internal.array_set 3
    pop temp 0
    push local 8
    push constant 1
    push local 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 8
    push constant 2
    push local 3
    call ML_Internal.array_set 3
    pop temp 0
    push local 8
    goto IfEnd188
label IfFalse187
    push local 1
    push constant 6
    lt
    not
    if-goto IfFalse185
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 4
    push local 4
    push constant 0
    push constant 5
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    push constant 1
    push argument 0
    push argument 1
    push argument 2
    push local 2
    call ML_Ast_lift.rw_exp 4
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    push constant 2
    push argument 0
    push argument 1
    push argument 2
    call ML_Ast_lift.rw_exp 3
    push local 3
    call ML_List.map 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    goto IfEnd186
label IfFalse185
    push local 1
    push constant 6
    eq
    not
    if-goto IfFalse183
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push local 0
    push constant 3
    call ML_Array.get 2
    pop local 4
    push constant 4
    call ML_Array.create_uninitialized 1
    pop local 5
    push local 5
    push constant 0
    push constant 6
    call ML_Internal.array_set 3
    pop temp 0
    push local 5
    push constant 1
    push argument 0
    push argument 1
    push argument 2
    push local 2
    call ML_Ast_lift.rw_exp 4
    call ML_Internal.array_set 3
    pop temp 0
    push local 5
    push constant 2
    push argument 0
    push argument 1
    push argument 2
    push local 3
    call ML_Ast_lift.rw_exp 4
    call ML_Internal.array_set 3
    pop temp 0
    push local 5
    push constant 3
    push argument 0
    push argument 1
    push argument 2
    push local 4
    call ML_Ast_lift.rw_exp 4
    call ML_Internal.array_set 3
    pop temp 0
    push local 5
    goto IfEnd184
label IfFalse183
    push argument 3
label IfEnd184
label IfEnd186
label IfEnd188
label IfEnd190
    goto IfEnd216
label IfFalse215
    push local 1
    push constant 7
    eq
    not
    if-goto IfFalse213
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 4
    push local 4
    push constant 0
    push constant 7
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    push constant 1
    push argument 0
    push argument 1
    push argument 2
    push local 2
    call ML_Ast_lift.rw_exp 4
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    push constant 2
    push constant 5
    call ML_Array.create_uninitialized 1
    pop local 6
    push local 6
    push constant 0
    push constant 10006
    call ML_Internal.array_set 3
    pop temp 0
    push local 6
    push constant 1
    push argument 0
    call ML_Internal.array_set 3
    pop temp 0
    push local 6
    push constant 2
    push argument 1
    call ML_Internal.array_set 3
    pop temp 0
    push local 6
    push constant 3
    push argument 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 6
    push constant 4
    push local 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 6
    push local 3
    call ML_List.map 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    goto IfEnd214
label IfFalse213
    push local 1
    push constant 10
    lt
    not
    if-goto IfFalse211
    push local 1
    push constant 9
    lt
    not
    if-goto IfFalse199
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push local 0
    push constant 3
    call ML_Array.get 2
    pop local 4
    push constant 4
    call ML_Array.create_uninitialized 1
    pop local 5
    push local 5
    push constant 0
    push constant 8
    call ML_Internal.array_set 3
    pop temp 0
    push local 5
    push constant 1
    push local 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 5
    push constant 2
    push argument 0
    push argument 1
    push argument 2
    push local 3
    call ML_Ast_lift.rw_exp 4
    call ML_Internal.array_set 3
    pop temp 0
    push local 5
    push constant 3
    push argument 0
    push argument 1
    push argument 2
    push local 4
    call ML_Ast_lift.rw_exp 4
    call ML_Internal.array_set 3
    pop temp 0
    push local 5
    goto IfEnd200
label IfFalse199
    push local 1
    push constant 9
    eq
    not
    if-goto IfFalse197
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 4
    push local 4
    push constant 0
    push constant 9
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    push constant 1
    push local 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    push constant 2
    push argument 0
    push argument 1
    push argument 2
    push local 3
    call ML_Ast_lift.rw_exp 4
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    goto IfEnd198
label IfFalse197
    push argument 3
label IfEnd198
label IfEnd200
    goto IfEnd212
label IfFalse211
    push local 1
    push constant 10
    eq
    not
    if-goto IfFalse209
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 3
    push local 3
    push constant 0
    push constant 10
    call ML_Internal.array_set 3
    pop temp 0
    push local 3
    push constant 1
    push argument 0
    push argument 1
    push argument 2
    call ML_Ast_lift.rw_exp 3
    push local 2
    call ML_List.map 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 3
    goto IfEnd210
label IfFalse209
    push local 1
    push constant 12
    lt
    not
    if-goto IfFalse207
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push local 2
    pop local 4
    push local 4
    push constant 256
    gt
    not
    not
    if-goto IfFalse201
    push local 4
    goto IfEnd202
label IfFalse201
    push local 4
    push constant 0
    call ML_Array.get 2
label IfEnd202
    pop local 5
    push local 4
    push constant 1
    call ML_Array.get 2
    pop local 6
    push local 6
    push constant 0
    eq
    not
    if-goto IfFalse203
    push local 3
    push argument 2
    push argument 1
    push argument 0
    pop argument 0
    pop argument 1
    pop argument 2
    pop argument 3
    goto rw_exp
    goto IfEnd204
label IfFalse203
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 4
    push local 4
    push constant 0
    push constant 11
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    push constant 1
    push argument 0
    push argument 1
    push argument 2
    push local 2
    call ML_Ast_lift.rw_exp 4
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    push constant 2
    push argument 0
    push argument 1
    push argument 2
    push local 3
    call ML_Ast_lift.rw_exp 4
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
label IfEnd204
    goto IfEnd208
label IfFalse207
    push local 1
    push constant 12
    eq
    not
    if-goto IfFalse205
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 4
    push local 4
    push constant 0
    push constant 12
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    push constant 1
    push argument 0
    push argument 1
    push argument 2
    push local 2
    call ML_Ast_lift.rw_exp 4
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    push constant 2
    push argument 0
    push argument 1
    push argument 2
    push local 3
    call ML_Ast_lift.rw_exp 4
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    goto IfEnd206
label IfFalse205
    push argument 3
label IfEnd206
label IfEnd208
label IfEnd210
label IfEnd212
label IfEnd214
label IfEnd216
    return
function ML_Ast_lift.rw_fundecs 2
label rw_fundecs
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 1
    push local 1
    push constant 0
    push constant 10007
    call ML_Internal.array_set 3
    pop temp 0
    push local 1
    push constant 1
    push argument 0
    call ML_Internal.array_set 3
    pop temp 0
    push local 1
    push constant 2
    push argument 1
    call ML_Internal.array_set 3
    pop temp 0
    push local 1
    push argument 1
    call ML_List.map 2
    return
function ML_Ast_lift.rw_decl 5
label rw_decl
    push argument 1
    pop local 0
    push local 0
    push constant 256
    gt
    not
    not
    if-goto IfFalse219
    push local 0
    goto IfEnd220
label IfFalse219
    push local 0
    push constant 0
    call ML_Array.get 2
label IfEnd220
    pop local 1
    push local 1
    push constant 1
    lt
    not
    if-goto IfFalse223
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 4
    push local 4
    push constant 0
    push constant 0
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    push constant 1
    push local 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    push constant 2
    push argument 0
    push constant 0
    push constant 0
    push local 3
    call ML_Ast_lift.rw_exp 4
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    goto IfEnd224
label IfFalse223
    push local 1
    push constant 1
    eq
    not
    if-goto IfFalse221
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 3
    push local 3
    push constant 0
    push constant 1
    call ML_Internal.array_set 3
    pop temp 0
    push local 3
    push constant 1
    push argument 0
    push local 2
    call ML_Ast_lift.rw_fundecs 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 3
    goto IfEnd222
label IfFalse221
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 3
    push local 3
    push constant 0
    push constant 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 3
    push constant 1
    push argument 0
    push local 2
    call ML_Ast_lift.rw_fundecs 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 3
label IfEnd222
label IfEnd224
    return
function ML_Ast_lift.rewrite 6
label rewrite
    push argument 0
    pop local 0
    push local 0
    push constant 256
    gt
    not
    not
    if-goto IfFalse225
    push local 0
    goto IfEnd226
label IfFalse225
    push local 0
    push constant 0
    call ML_Array.get 2
label IfEnd226
    pop local 1
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 5
    push local 5
    push constant 0
    push constant 10008
    call ML_Internal.array_set 3
    pop temp 0
    push local 5
    push constant 1
    push argument 0
    call ML_Internal.array_set 3
    pop temp 0
    push local 5
    push local 3
    call ML_List.map 2
    call ML_List.concat 1
    pop local 3
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 4
    push local 4
    push constant 0
    push constant 0
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    push constant 1
    push local 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    push constant 2
    push local 3
    call ML_Internal.array_set 3
    pop temp 0
    push local 4
    return
