function ML_Freevr.create 0
    push constant 0
    call ML_Pervasives.ref 1
    return
function ML_Freevr.collect_exp 7
label collect_exp
    push argument 3
    pop local 0
    push local 0
    push constant 256
    gt
    not
    not
    if-goto IfFalse135
    push local 0
    goto IfEnd136
label IfFalse135
    push local 0
    push constant 0
    call ML_Array.get 2
label IfEnd136
    pop local 1
    push local 1
    push constant 7
    lt
    not
    if-goto IfFalse171
    push local 1
    push constant 3
    lt
    not
    if-goto IfFalse149
    push local 1
    push constant 1
    lt
    not
    if-goto IfFalse141
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push constant 0
    goto IfEnd142
label IfFalse141
    push local 1
    push constant 1
    eq
    not
    if-goto IfFalse139
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 2
    call ML_String.equal 1
    push argument 2
    call ML_List.exists 2
    not
    push local 2
    call ML_String.equal 1
    push argument 1
    call ML_List.exists 2
    and
    not
    if-goto IfFalse137
    push argument 0
    push constant 0
    push local 2
    push argument 0
    push constant 0
    call ML_Internal.array_get 2
    call ML_Internal.make_pair 2
    call ML_Internal.array_set 3
    goto IfEnd138
label IfFalse137
    push constant 0
label IfEnd138
    goto IfEnd140
label IfFalse139
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push local 0
    push constant 3
    call ML_Array.get 2
    pop local 4
    push local 2
    push local 5
    call ML_Internal.make_pair 2
    pop local 5
    push argument 0
    push argument 1
    push local 5
    push local 3
    call ML_Freevr.collect_exp 4
    pop temp 0
    push local 4
    push local 5
    push argument 1
    push argument 0
    pop argument 0
    pop argument 1
    pop argument 2
    pop argument 3
    goto collect_exp
label IfEnd140
label IfEnd142
    goto IfEnd150
label IfFalse149
    push local 1
    push constant 3
    eq
    not
    if-goto IfFalse147
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push local 2
    push local 4
    call ML_Internal.make_pair 2
    pop local 4
    push local 3
    push local 4
    push argument 1
    push argument 0
    pop argument 0
    pop argument 1
    pop argument 2
    pop argument 3
    goto collect_exp
    goto IfEnd148
label IfFalse147
    push local 1
    push constant 6
    lt
    not
    if-goto IfFalse145
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push argument 0
    push argument 1
    push argument 2
    push local 2
    call ML_Freevr.collect_exp 4
    pop temp 0
    push argument 0
    push argument 1
    push argument 2
    call ML_Freevr.collect_exp 3
    push local 3
    call ML_List.iter 2
    goto IfEnd146
label IfFalse145
    push local 1
    push constant 6
    eq
    not
    if-goto IfFalse143
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push local 0
    push constant 3
    call ML_Array.get 2
    pop local 4
    push argument 0
    push argument 1
    push argument 2
    push local 2
    call ML_Freevr.collect_exp 4
    pop temp 0
    push argument 0
    push argument 1
    push argument 2
    push local 3
    call ML_Freevr.collect_exp 4
    pop temp 0
    push local 4
    push argument 2
    push argument 1
    push argument 0
    pop argument 0
    pop argument 1
    pop argument 2
    pop argument 3
    goto collect_exp
    goto IfEnd144
label IfFalse143
    push constant 0
label IfEnd144
label IfEnd146
label IfEnd148
label IfEnd150
    goto IfEnd172
label IfFalse171
    push local 1
    push constant 7
    eq
    not
    if-goto IfFalse169
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push argument 0
    push argument 1
    push argument 2
    push local 2
    call ML_Freevr.collect_exp 4
    pop temp 0
    push constant 5
    call ML_Array.create_uninitialized 1
    pop local 6
    push local 6
    push constant 0
    push constant 10001
    call ML_Internal.array_set 3
    pop temp 0
    push local 6
    push constant 1
    push argument 0
    call ML_Internal.array_set 3
    pop temp 0
    push local 6
    push constant 2
    push argument 1
    call ML_Internal.array_set 3
    pop temp 0
    push local 6
    push constant 3
    push argument 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 6
    push constant 4
    push local 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 6
    pop local 4
    push local 4
    push local 3
    call ML_List.iter 2
    goto IfEnd170
label IfFalse169
    push local 1
    push constant 10
    lt
    not
    if-goto IfFalse167
    push local 1
    push constant 9
    lt
    not
    if-goto IfFalse159
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push local 0
    push constant 3
    call ML_Array.get 2
    pop local 4
    push argument 0
    push argument 1
    push argument 2
    push local 3
    call ML_Freevr.collect_exp 4
    pop temp 0
    push local 4
    push argument 2
    push argument 1
    push argument 0
    pop argument 0
    pop argument 1
    pop argument 2
    pop argument 3
    goto collect_exp
    goto IfEnd160
label IfFalse159
    push local 1
    push constant 9
    eq
    not
    if-goto IfFalse157
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push local 3
    push argument 2
    push argument 1
    push argument 0
    pop argument 0
    pop argument 1
    pop argument 2
    pop argument 3
    goto collect_exp
    goto IfEnd158
label IfFalse157
    push constant 0
label IfEnd158
label IfEnd160
    goto IfEnd168
label IfFalse167
    push local 1
    push constant 10
    eq
    not
    if-goto IfFalse165
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push argument 0
    push argument 1
    push argument 2
    call ML_Freevr.collect_exp 3
    push local 2
    call ML_List.iter 2
    goto IfEnd166
label IfFalse165
    push local 1
    push constant 12
    lt
    not
    if-goto IfFalse163
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push argument 0
    push argument 1
    push argument 2
    push local 2
    call ML_Freevr.collect_exp 4
    pop temp 0
    push local 3
    push argument 2
    push argument 1
    push argument 0
    pop argument 0
    pop argument 1
    pop argument 2
    pop argument 3
    goto collect_exp
    goto IfEnd164
label IfFalse163
    push local 1
    push constant 12
    eq
    not
    if-goto IfFalse161
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push argument 0
    push argument 1
    push argument 2
    push local 2
    call ML_Freevr.collect_exp 4
    pop temp 0
    push local 3
    push argument 2
    push argument 1
    push argument 0
    pop argument 0
    pop argument 1
    pop argument 2
    pop argument 3
    goto collect_exp
    goto IfEnd162
label IfFalse161
    push constant 0
label IfEnd162
label IfEnd164
label IfEnd166
label IfEnd168
label IfEnd170
label IfEnd172
    return
function ML_Freevr.collect 2
    push argument 0
    pop local 0
    push local 0
    push constant 256
    gt
    not
    not
    if-goto IfFalse173
    push local 0
    goto IfEnd174
label IfFalse173
    push local 0
    push constant 0
    call ML_Array.get 2
label IfEnd174
    pop local 1
    push constant 0
    return
