function ML_Mlvalues.val_long 0
    push argument 0
    return
function ML_Mlvalues.long_val 0
    push argument 0
    return
function ML_Mlvalues.val_ptr 0
    push argument 0
    pop temp 0
    push constant 0
    push temp 0
    sub
    return
function ML_Mlvalues.ptr_val 0
    push argument 0
    pop temp 0
    push constant 0
    push temp 0
    sub
    return
function ML_Mlvalues.is_ptr 0
    push argument 0
    push constant 0
    lt
    return
function ML_Mlvalues.size 0
    push argument 0
    call ML_Array.length 1
    push constant 2
    sub
    return
function ML_Mlvalues.tag 0
    push argument 0
    push constant 0
    call ML_Internal.array_get 2
    return
function ML_Mlvalues.unit 0
    push static 1
    return
function ML_Mlvalues.__init__unit 0
    push constant 0
    pop static 1
    push static 1
    pop temp 7
    return
function ML_Mlvalues.make_block 1
    push argument 1
    push constant 2
    add
    push constant 0
    call ML_Array.make 2
    pop local 0
    push local 0
    push constant 0
    push argument 0
    call ML_Internal.array_set 3
    pop temp 0
    push local 0
    push constant 1
    push constant 0
    call ML_Internal.array_set 3
    pop temp 0
    push local 0
    pop temp 0
    push constant 0
    push temp 0
    sub
    return
function ML_Mlvalues.get_field 0
    push argument 0
    pop temp 0
    push constant 0
    push temp 0
    sub
    push argument 1
    push constant 2
    add
    call ML_Internal.array_get 2
    return
function ML_Mlvalues.set_field 0
    push argument 0
    pop temp 0
    push constant 0
    push temp 0
    sub
    push argument 1
    push constant 2
    add
    push argument 2
    call ML_Internal.array_set 3
    return
function ML_Mlvalues.get_bytes 0
    push argument 0
    pop temp 0
    push constant 0
    push temp 0
    sub
    push argument 1
    push constant 2
    add
    call ML_Internal.array_get 2
    return
function ML_Mlvalues.set_bytes 0
    push argument 0
    pop temp 0
    push constant 0
    push temp 0
    sub
    push argument 1
    push constant 2
    add
    push argument 2
    call ML_Internal.array_set 3
    return
function ML_Mlvalues.closure_tag 0
    push static 2
    return
function ML_Mlvalues.__init__closure_tag 0
    push constant 1
    pop static 2
    push static 2
    pop temp 7
    return
function ML_Mlvalues.env_tag 0
    push static 3
    return
function ML_Mlvalues.__init__env_tag 0
    push constant 2
    pop static 3
    push static 3
    pop temp 7
    return
function ML_Mlvalues.make_closure 2
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 1
    push local 1
    push constant 0
    call ML_Mlvalues.closure_tag 0
    call ML_Internal.array_set 3
    pop temp 0
    push local 1
    push constant 1
    push argument 0
    call ML_Internal.array_set 3
    pop temp 0
    push local 1
    push constant 2
    push argument 1
    call ML_Internal.array_set 3
    pop temp 0
    push local 1
    pop local 0
    push local 0
    pop temp 0
    push constant 0
    push temp 0
    sub
    return
function ML_Mlvalues.make_env 1
    push argument 0
    push constant 2
    add
    push constant 0
    call ML_Array.make 2
    pop local 0
    push local 0
    push constant 0
    call ML_Mlvalues.env_tag 0
    call ML_Internal.array_set 3
    pop temp 0
    push local 0
    push constant 1
    push constant 0
    call ML_Internal.array_set 3
    pop temp 0
    push local 0
    pop temp 0
    push constant 0
    push temp 0
    sub
    return
function ML_Mlvalues.addr_closure 1
    push argument 0
    pop temp 0
    push constant 0
    push temp 0
    sub
    push constant 3
    call ML_Internal.array_get 2
    pop local 0
    push local 0
    return
function ML_Mlvalues.env_closure 0
    push argument 0
    pop temp 0
    push constant 0
    push temp 0
    sub
    push constant 4
    call ML_Internal.array_get 2
    return
function ML_Mlvalues.voidExpr3 0
    push static 4
    return
function ML_Mlvalues.__init__voidExpr3 0
    push constant 0
    pop static 4
    push static 4
    pop temp 7
    return
