function ML_String.make 0
    push argument 0
    push argument 1
    call ML_Internal.obj_magic 1
    call ML_Internal.array_make 2
    call ML_Internal.obj_magic 1
    return
function ML_String.get 0
    push argument 0
    call ML_Internal.obj_magic 1
    push argument 1
    call ML_Internal.array_get 2
    return
function ML_String.length 0
    push argument 0
    call ML_Internal.obj_magic 1
    call ML_Internal.array_length 1
    return
function ML_String.aux_equal 2
label aux_equal
    push argument 2
    push constant 0
    lt
    not
    if-goto IfFalse25
    push constant 0
    not
    goto IfEnd26
label IfFalse25
    push argument 0
    pop local 0
    push argument 2
    pop local 1
    push local 0
    call ML_Internal.obj_magic 1
    push local 1
    call ML_Internal.array_get 2
    push argument 1
    pop local 0
    push argument 2
    pop local 1
    push local 0
    call ML_Internal.obj_magic 1
    push local 1
    call ML_Internal.array_get 2
    eq
    not
    if-goto IfFalse23
    push argument 2
    push constant 1
    sub
    push argument 1
    push argument 0
    pop argument 0
    pop argument 1
    pop argument 2
    goto aux_equal
    goto IfEnd24
label IfFalse23
    push constant 0

label IfEnd24
label IfEnd26
    return
function ML_String.equal 2
    push argument 0
    pop local 1
    push local 1
    call ML_Internal.obj_magic 1
    call ML_Internal.array_length 1
    pop local 0
    push argument 0
    push argument 1
    push local 0
    push constant 1
    sub
    call ML_String.aux_equal 3
    return
function ML_String.iter 4
    push constant 0
    call ML_Pervasives.ref 1
    pop local 0
    push local 2
    pop local 2
    push local 2
    call ML_Internal.obj_magic 1
    call ML_Internal.array_length 1
    push constant 1
    sub
    pop local 1
label WhileBegin27
    push local 0
    call ML_Pervasives.ref_contents 1
    push local 1
    gt
    not
    not
    if-goto WhileEnd28
    push local 0
    call ML_Pervasives.ref_contents 1
    pop local 2
    push argument 0
    push local 3
    pop local 3
    push local 2
    pop local 2
    push local 3
    call ML_Internal.obj_magic 1
    push local 2
    call ML_Internal.array_get 2
    call ML_Apply.apply 2
    pop temp 0
    push local 0
    call ML_Pervasives.incr 1
    goto WhileBegin27
label WhileEnd28
    return
function ML_String.index_rec_opt 2
label index_rec_opt
    push argument 2
    push argument 1
    lt
    not
    not
    if-goto IfFalse31
    push constant 1
    goto IfEnd32
label IfFalse31
    push local 0
    pop local 0
    push local 1
    pop local 1
    push local 0
    call ML_Internal.obj_magic 1
    push local 1
    call ML_Internal.array_get 2
    push argument 3
    eq
    not
    if-goto IfFalse29
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 0
    push local 0
    push constant 0
    push constant 1
    call ML_Internal.array_set 3
    pop temp 0
    push local 0
    push constant 1
    push argument 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 0
    goto IfEnd30
label IfFalse29
    push argument 3
    push argument 2
    push constant 1
    add
    push argument 1
    push argument 0
    pop argument 0
    pop argument 1
    pop argument 2
    pop argument 3
    goto index_rec_opt
label IfEnd30
label IfEnd32
    return
function ML_String.index_opt 1
    push argument 0
    push local 0
    pop local 0
    push local 0
    call ML_Internal.obj_magic 1
    call ML_Internal.array_length 1
    push constant 0
    push argument 1
    call ML_String.index_rec_opt 4
    return
