function Sample007.sum 0
push argument 0
push constant 1
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
goto IF_END1
label IF_FALSE1
push argument 0
push argument 0
push constant 1
sub
call Sample007.sum 1
add
label IF_END1
return
function Sample007.test 0
push constant 10
call Sample007.sum 1
push constant 55
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 42
goto IF_END2
label IF_FALSE2
push constant 0
label IF_END2
call Output.printInt 1
pop temp 0
pop temp 0
pop temp 0
call Output.println 0
return

