function Sample009.test 2
push constant 5
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 40
push constant 2
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 40
push constant 3
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 40
push constant 4
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 1
add
push constant 40
push constant 5
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
pop local 0
push local 0
push constant 0
add
push constant 1
add
pop pointer 1
push temp 0
push that 0
push constant 42
eq
push local 0
push constant 1
add
push constant 1
add
pop pointer 1
push temp 0
push that 0
push constant 43
eq
and
push local 0
push constant 2
add
push constant 1
add
pop pointer 1
push temp 0
push that 0
push constant 44
eq
and
push local 0
push constant 3
add
push constant 1
add
pop pointer 1
push temp 0
push that 0
push constant 45
eq
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 42
goto IF_END1
label IF_FALSE1
push constant 0
label IF_END1
call Output.printInt 1
pop temp 0
pop temp 0
pop temp 0
call Output.println 0
return

