function Sample006.id 0
push argument 0
return
function Sample006.test 0
push constant 5
push constant 5
eq
call Sample006.id 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 42
goto IF_END1
label IF_FALSE1
push constant 0
label IF_END1
call Output.printInt 1
pop temp 0
pop temp 0
pop temp 0
call Output.println 0
return

