function Main.sum 0
push argument 0
push constant 1
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
goto IF_END1
label IF_FALSE1
push argument 0
push argument 0
push constant 1
sub
call Main.sum 1
add
label IF_END1
return
function Main.main 0
push constant 10
call Main.sum 1
call Output.printInt 1
pop temp 0
pop temp 0
pop temp 0
call Output.println 0
return

