function Main.main 0
push constant 0
not
if-goto assertOk1
call Sys.halt 0
label assertOk1
pop temp 0
push constant 42
call Output.printInt 1
pop temp 0
push constant 0
pop temp 0
call Output.println 0
return

