///////////////////////////////////////////////////////////////
function Input.code 0
    push static 1
    return
///////////////////////////////////////////////////////////////
function Input.__init__code 1
    push constant 16
    call ML_array.create_uninitialized 1
    pop local 0
    push local 0
    push constant 0
    push constant 102
    call ML_array.set 3
    pop temp 0
    push local 0
    push constant 1
    push constant 10
    call ML_array.set 3
    pop temp 0
    push local 0
    push constant 2
    push constant 132
    call ML_array.set 3
    pop temp 0
    push local 0
    push constant 3
    push constant 3
    call ML_array.set 3
    pop temp 0
    push local 0
    push constant 4
    push constant 10
    call ML_array.set 3
    pop temp 0
    push local 0
    push constant 5
    push constant 102
    call ML_array.set 3
    pop temp 0
    push local 0
    push constant 6
    push constant 127
    call ML_array.set 3
    pop temp 0
    push local 0
    push constant 7
    push constant 2
    call ML_array.set 3
    pop temp 0
    push local 0
    push constant 8
    push constant 84
    call ML_array.set 3
    pop temp 0
    push local 0
    push constant 9
    push constant 11
    call ML_array.set 3
    pop temp 0
    push local 0
    push constant 10
    push constant 99
    call ML_array.set 3
    pop temp 0
    push local 0
    push constant 11
    push constant 19
    call ML_array.set 3
    pop temp 0
    push local 0
    push constant 12
    push constant 1
    call ML_array.set 3
    pop temp 0
    push local 0
    push constant 13
    push constant 58
    call ML_array.set 3
    pop temp 0
    push local 0
    push constant 14
    push constant 57
    call ML_array.set 3
    pop temp 0
    push local 0
    push constant 15
    push constant 0
    call ML_array.set 3
    pop temp 0
    push local 0
    pop static 1
    push static 1
    pop temp 7
    return
