///////////////////////////////////////////////////////////////
function M1.id 0
    push argument 0
    return
///////////////////////////////////////////////////////////////
function M1.a 0
    push static 0
    return
///////////////////////////////////////////////////////////////
function M1.__init__a 0
    push constant 4
    push constant 3
    add
    pop static 0
    push static 0
    pop temp 7
    return
