///////////////////////////////////////////////////////////////
function M1.f 0
    push argument 0
    push constant 99
    call ML_internal.make_pair 2
    return
///////////////////////////////////////////////////////////////
function M1.__voidExpr1 0
    push static 0
    return
///////////////////////////////////////////////////////////////
function M1.__init____voidExpr1 0
    push constant 42
    call ML_pervasives.print_int 1
    pop static 0
    push static 0
    pop temp 7
    return
///////////////////////////////////////////////////////////////
function M1.g 0
    push static 1
    return
///////////////////////////////////////////////////////////////
function M1.__init__g 0
    push constant 1
    call ML_pervasives.exit 1
    pop static 1
    push static 1
    pop temp 7
    return
