///////////////////////////////////////////////////////////////
function Main.main 0
    call Mlvalues.__init__c0x8000 0
    call Interp.__init__code 0
    call Interp.__init__stack_size 0
    call Interp.__init__sp 0
    call Interp.__init__stack 0
    call Interp.__init__pc 0
    call Interp.__init__acc 0
    call Interp.__init____voidExpr23 0
    push constant 0
    return
