function ML_Apply.apply 0
    push argument 0
    push     constant 0
    call ML_Internal.array_get 2
    push     constant 10001
    eq
    not
    if-goto A10001
    push argument 0
    push argument 1
    call ML_Apply.closure10001 2
    goto EndApply
label A10001
label EndApply
    return
function ML_Apply.closure10001 0
    push argument 1
    push     constant 1
    add
    return
