// val "Ast2iast.__lambda1"
function ML_Ast2iast.__lambda1 0
    push static 0
    return
// val "Ast2iast.__init____lambda1"
function ML_Ast2iast.__init____lambda1 0
    push constant 0
    pop static 0
    push static 0
    pop temp 7
    return
// val "Ast2iast.gen_closure_id"
function ML_Ast2iast.gen_closure_id 0
    push static 1
    return
// val "Ast2iast.__init__gen_closure_id"
function ML_Ast2iast.__init__gen_closure_id 1
    push constant 10000
    call ML_Pervasives.ref 1
    pop local 0
    push local 0
    push local 0
    call ML_Ast2iast.__lambda1 0
    call ML_Apply.apply 2
    call ML_Apply.apply 2
    pop static 1
    push static 1
    pop temp 7
    return
// val "Ast2iast.rw_constant"
function ML_Ast2iast.rw_constant 3
label rw_constant
    push argument 0
    push constant 256
    gt
    not
    not
    if-goto IfFalse11
    push argument 0
    goto IfEnd12
label IfFalse11
    push argument 0
    push constant 0
    call ML_Array.get 2
label IfEnd12
    pop local 0
    push local 0
    push constant 4
    lt
    not
    if-goto IfFalse27
    push local 0
    push constant 2
    lt
    not
    if-goto IfFalse19
    push local 0
    push constant 1
    lt
    not
    if-goto IfFalse15
    push constant 0
    goto IfEnd16
label IfFalse15
    push local 0
    push constant 1
    eq
    not
    if-goto IfFalse13
    push argument 0
    push constant 1
    call ML_Array.get 2
    pop local 1
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 2
    push local 2
    push constant 0
    push constant 1
    call ML_Array.set 3
    pop temp 0
    push local 2
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 2
    goto IfEnd14
label IfFalse13
    push constant 1
    call ML_Pervasives.exit 1
label IfEnd14
label IfEnd16
    goto IfEnd20
label IfFalse19
    push local 0
    push constant 2
    eq
    not
    if-goto IfFalse17
    push argument 0
    push constant 1
    call ML_Array.get 2
    pop local 1
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 2
    push local 2
    push constant 0
    push constant 2
    call ML_Array.set 3
    pop temp 0
    push local 2
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 2
    goto IfEnd18
label IfFalse17
    push argument 0
    push constant 1
    call ML_Array.get 2
    pop local 1
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 2
    push local 2
    push constant 0
    push constant 3
    call ML_Array.set 3
    pop temp 0
    push local 2
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 2
label IfEnd18
label IfEnd20
    goto IfEnd28
label IfFalse27
    push local 0
    push constant 4
    eq
    not
    if-goto IfFalse25
    push argument 0
    push constant 1
    call ML_Array.get 2
    pop local 1
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 2
    push local 2
    push constant 0
    push constant 4
    call ML_Array.set 3
    pop temp 0
    push local 2
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 2
    goto IfEnd26
label IfFalse25
    push local 0
    push constant 6
    lt
    not
    if-goto IfFalse23
    push argument 0
    push constant 1
    call ML_Array.get 2
    pop local 1
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 2
    push local 2
    push constant 0
    push constant 5
    call ML_Array.set 3
    pop temp 0
    push local 2
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 2
    goto IfEnd24
label IfFalse23
    push local 0
    push constant 6
    eq
    not
    if-goto IfFalse21
    push constant 6
    goto IfEnd22
label IfFalse21
    push constant 7
label IfEnd22
label IfEnd24
label IfEnd26
label IfEnd28
    return
// val "Ast2iast.rw_cases"
function ML_Ast2iast.rw_cases 4
label rw_cases
    push argument 1
    push constant 256
    gt
    not
    not
    if-goto IfFalse29
    push argument 1
    goto IfEnd30
label IfFalse29
    push argument 1
    push constant 0
    call ML_Array.get 2
label IfEnd30
    pop local 0
    push local 0
    push constant 1
    lt
    not
    if-goto IfFalse33
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 1
    push constant 2
    call ML_Array.get 2
    pop local 2
    push local 1
    call ML_Ast2iast.rw_constant 1
    pop local 1
    push argument 0
    push local 2
    call ML_Ast2iast.rw_exp 2
    pop local 2
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 3
    push local 3
    push constant 0
    push constant 0
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 2
    push local 2
    call ML_Array.set 3
    pop temp 0
    push local 3
    goto IfEnd34
label IfFalse33
    push local 0
    push constant 1
    eq
    not
    if-goto IfFalse31
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 0
    push local 1
    call ML_Ast2iast.rw_exp 2
    pop local 1
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 2
    push local 2
    push constant 0
    push constant 1
    call ML_Array.set 3
    pop temp 0
    push local 2
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 2
    goto IfEnd32
label IfFalse31
    push constant 1
    call ML_Pervasives.exit 1
label IfEnd32
label IfEnd34
    return
// val "Ast2iast.rw_exp"
function ML_Ast2iast.rw_exp 6
label rw_exp
    push argument 1
    push constant 256
    gt
    not
    not
    if-goto IfFalse35
    push argument 1
    goto IfEnd36
label IfFalse35
    push argument 1
    push constant 0
    call ML_Array.get 2
label IfEnd36
    pop local 0
    push local 0
    push constant 10
    lt
    not
    if-goto IfFalse87
    push local 0
    push constant 5
    lt
    not
    if-goto IfFalse59
    push local 0
    push constant 2
    lt
    not
    if-goto IfFalse47
    push local 0
    push constant 1
    lt
    not
    if-goto IfFalse39
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 2
    push local 2
    push constant 0
    push constant 0
    call ML_Array.set 3
    pop temp 0
    push local 2
    push constant 1
    push local 1
    call ML_Ast2iast.rw_constant 1
    call ML_Array.set 3
    pop temp 0
    push local 2
    goto IfEnd40
label IfFalse39
    push local 0
    push constant 1
    eq
    not
    if-goto IfFalse37
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 2
    push local 2
    push constant 0
    push constant 1
    call ML_Array.set 3
    pop temp 0
    push local 2
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 2
    goto IfEnd38
label IfFalse37
    push constant 1
    call ML_Pervasives.exit 1
label IfEnd38
label IfEnd40
    goto IfEnd48
label IfFalse47
    push local 0
    push constant 2
    eq
    not
    if-goto IfFalse45
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 1
    push constant 2
    call ML_Array.get 2
    pop local 2
    push argument 1
    push constant 3
    call ML_Array.get 2
    pop local 3
    push argument 0
    push local 2
    call ML_Ast2iast.rw_exp 2
    pop local 2
    push argument 0
    push local 3
    call ML_Ast2iast.rw_exp 2
    pop local 3
    push constant 4
    call ML_Array.create_uninitialized 1
    pop local 4
    push local 4
    push constant 0
    push constant 2
    call ML_Array.set 3
    pop temp 0
    push local 4
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 4
    push constant 2
    push local 2
    call ML_Array.set 3
    pop temp 0
    push local 4
    push constant 3
    push local 3
    call ML_Array.set 3
    pop temp 0
    push local 4
    goto IfEnd46
label IfFalse45
    push local 0
    push constant 4
    lt
    not
    if-goto IfFalse43
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 1
    push constant 2
    call ML_Array.get 2
    pop local 2
    push constant 0
    push local 2
    call ML_Ast2iast.rw_exp 2
    pop local 3
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 4
    push local 4
    push constant 0
    push constant 3
    call ML_Array.set 3
    pop temp 0
    push local 4
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 4
    push constant 2
    push local 3
    call ML_Array.set 3
    pop temp 0
    push local 4
    goto IfEnd44
label IfFalse43
    push local 0
    push constant 4
    eq
    not
    if-goto IfFalse41
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push local 1
    push constant 2
    call ML_Array.get 2
    pop local 2
    push argument 0
    push local 1
    call ML_Ast2iast.rw_exp 2
    pop local 1
    push argument 0
    call ML_Ast2iast.rw_exp 1
    push local 2
    call ML_List.map 2
    pop local 2
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 3
    push local 3
    push constant 0
    push constant 5
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 2
    push local 2
    call ML_Array.set 3
    pop temp 0
    push local 3
    goto IfEnd42
label IfFalse41
    push constant 1
    call ML_Pervasives.exit 1
label IfEnd42
label IfEnd44
label IfEnd46
label IfEnd48
    goto IfEnd60
label IfFalse59
    push local 0
    push constant 5
    eq
    not
    if-goto IfFalse57
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 1
    push constant 2
    call ML_Array.get 2
    pop local 2
    push argument 1
    push constant 3
    call ML_Array.get 2
    pop local 3
    push argument 0
    push local 1
    call ML_Ast2iast.rw_exp 2
    pop local 1
    push argument 0
    push local 2
    call ML_Ast2iast.rw_exp 2
    pop local 2
    push argument 0
    push local 3
    call ML_Ast2iast.rw_exp 2
    pop local 3
    push constant 4
    call ML_Array.create_uninitialized 1
    pop local 4
    push local 4
    push constant 0
    push constant 6
    call ML_Array.set 3
    pop temp 0
    push local 4
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 4
    push constant 2
    push local 2
    call ML_Array.set 3
    pop temp 0
    push local 4
    push constant 3
    push local 3
    call ML_Array.set 3
    pop temp 0
    push local 4
    goto IfEnd58
label IfFalse57
    push local 0
    push constant 8
    lt
    not
    if-goto IfFalse55
    push local 0
    push constant 7
    lt
    not
    if-goto IfFalse51
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push local 1
    push constant 2
    call ML_Array.get 2
    pop local 2
    push argument 0
    push local 1
    call ML_Ast2iast.rw_exp 2
    pop local 1
    push argument 0
    call ML_Ast2iast.rw_cases 1
    push local 2
    call ML_List.map 2
    pop local 2
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 3
    push local 3
    push constant 0
    push constant 7
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 2
    push local 2
    call ML_Array.set 3
    pop temp 0
    push local 3
    goto IfEnd52
label IfFalse51
    push local 0
    push constant 7
    eq
    not
    if-goto IfFalse49
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 1
    push constant 2
    call ML_Array.get 2
    pop local 2
    push argument 1
    push constant 3
    call ML_Array.get 2
    pop local 3
    push argument 0
    push local 2
    call ML_Ast2iast.rw_exp 2
    pop local 2
    push argument 0
    push local 3
    call ML_Ast2iast.rw_exp 2
    pop local 3
    push constant 4
    call ML_Array.create_uninitialized 1
    pop local 4
    push local 4
    push constant 0
    push constant 8
    call ML_Array.set 3
    pop temp 0
    push local 4
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 4
    push constant 2
    push local 2
    call ML_Array.set 3
    pop temp 0
    push local 4
    push constant 3
    push local 3
    call ML_Array.set 3
    pop temp 0
    push local 4
    goto IfEnd50
label IfFalse49
    push constant 1
    call ML_Pervasives.exit 1
label IfEnd50
label IfEnd52
    goto IfEnd56
label IfFalse55
    push local 0
    push constant 8
    eq
    not
    if-goto IfFalse53
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 1
    push constant 2
    call ML_Array.get 2
    pop local 2
    push argument 0
    push local 2
    call ML_Ast2iast.rw_exp 2
    pop local 2
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 3
    push local 3
    push constant 0
    push constant 9
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 2
    push local 2
    call ML_Array.set 3
    pop temp 0
    push local 3
    goto IfEnd54
label IfFalse53
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 1
    push constant 2
    call ML_Array.get 2
    pop local 2
    push argument 0
    push local 1
    call ML_Ast2iast.rw_exp 2
    pop local 1
    push argument 0
    push local 2
    call ML_Ast2iast.rw_exp 2
    pop local 2
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 3
    push local 3
    push constant 0
    push constant 10
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 2
    push local 2
    call ML_Array.set 3
    pop temp 0
    push local 3
label IfEnd54
label IfEnd56
label IfEnd58
label IfEnd60
    goto IfEnd88
label IfFalse87
    push local 0
    push constant 10
    eq
    not
    if-goto IfFalse85
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 1
    push constant 2
    call ML_Array.get 2
    pop local 2
    push argument 0
    push local 1
    call ML_Ast2iast.rw_exp 2
    pop local 1
    push argument 0
    push local 2
    call ML_Ast2iast.rw_exp 2
    pop local 2
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 3
    push local 3
    push constant 0
    push constant 11
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 2
    push local 2
    call ML_Array.set 3
    pop temp 0
    push local 3
    goto IfEnd86
label IfFalse85
    push local 0
    push constant 16
    lt
    not
    if-goto IfFalse83
    push local 0
    push constant 13
    lt
    not
    if-goto IfFalse71
    push local 0
    push constant 12
    lt
    not
    if-goto IfFalse63
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 0
    call ML_Ast2iast.rw_exp 1
    push local 1
    call ML_List.map 2
    pop local 1
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 2
    push local 2
    push constant 0
    push constant 12
    call ML_Array.set 3
    pop temp 0
    push local 2
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 2
    goto IfEnd64
label IfFalse63
    push local 0
    push constant 12
    eq
    not
    if-goto IfFalse61
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 1
    push constant 2
    call ML_Array.get 2
    pop local 2
    push argument 1
    push constant 3
    call ML_Array.get 2
    pop local 3
    push argument 0
    push local 1
    call ML_Ast2iast.rw_exp 2
    pop local 1
    push argument 0
    push local 2
    call ML_Ast2iast.rw_exp 2
    pop local 2
    push argument 0
    push local 3
    call ML_Ast2iast.rw_exp 2
    pop local 3
    push constant 4
    call ML_Array.create_uninitialized 1
    pop local 4
    push local 4
    push constant 0
    push constant 13
    call ML_Array.set 3
    pop temp 0
    push local 4
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 4
    push constant 2
    push local 2
    call ML_Array.set 3
    pop temp 0
    push local 4
    push constant 3
    push local 3
    call ML_Array.set 3
    pop temp 0
    push local 4
    goto IfEnd62
label IfFalse61
    push constant 1
    call ML_Pervasives.exit 1
label IfEnd62
label IfEnd64
    goto IfEnd72
label IfFalse71
    push local 0
    push constant 13
    eq
    not
    if-goto IfFalse69
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 1
    push constant 2
    call ML_Array.get 2
    pop local 2
    push argument 0
    push local 1
    call ML_Ast2iast.rw_exp 2
    pop local 1
    push argument 0
    push local 2
    call ML_Ast2iast.rw_exp 2
    pop local 2
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 3
    push local 3
    push constant 0
    push constant 14
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 2
    push local 2
    call ML_Array.set 3
    pop temp 0
    push local 3
    goto IfEnd70
label IfFalse69
    push local 0
    push constant 15
    lt
    not
    if-goto IfFalse67
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 0
    push local 1
    call ML_Ast2iast.rw_exp 2
    pop local 1
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 2
    push local 2
    push constant 0
    push constant 15
    call ML_Array.set 3
    pop temp 0
    push local 2
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 2
    goto IfEnd68
label IfFalse67
    push local 0
    push constant 15
    eq
    not
    if-goto IfFalse65
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 0
    push local 1
    call ML_Ast2iast.rw_exp 2
    pop local 1
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 2
    push local 2
    push constant 0
    push constant 16
    call ML_Array.set 3
    pop temp 0
    push local 2
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 2
    goto IfEnd66
label IfFalse65
    push constant 1
    call ML_Pervasives.exit 1
label IfEnd66
label IfEnd68
label IfEnd70
label IfEnd72
    goto IfEnd84
label IfFalse83
    push local 0
    push constant 16
    eq
    not
    if-goto IfFalse81
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 1
    push constant 2
    call ML_Array.get 2
    pop local 2
    push argument 0
    push local 1
    call ML_Ast2iast.rw_exp 2
    pop local 1
    push argument 0
    push local 2
    call ML_Ast2iast.rw_exp 2
    pop local 2
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 3
    push local 3
    push constant 0
    push constant 17
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 2
    push local 2
    call ML_Array.set 3
    pop temp 0
    push local 3
    goto IfEnd82
label IfFalse81
    push local 0
    push constant 19
    lt
    not
    if-goto IfFalse79
    push local 0
    push constant 18
    lt
    not
    if-goto IfFalse75
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 1
    push constant 2
    call ML_Array.get 2
    pop local 2
    push argument 0
    push local 1
    call ML_Ast2iast.rw_exp 2
    pop local 1
    push argument 0
    push local 2
    call ML_Ast2iast.rw_exp 2
    pop local 2
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 3
    push local 3
    push constant 0
    push constant 18
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 2
    push local 2
    call ML_Array.set 3
    pop temp 0
    push local 3
    goto IfEnd76
label IfFalse75
    push local 0
    push constant 18
    eq
    not
    if-goto IfFalse73
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 1
    push constant 2
    call ML_Array.get 2
    pop local 2
    push argument 0
    push local 1
    call ML_Ast2iast.rw_exp 2
    pop local 1
    push argument 0
    push local 2
    call ML_Ast2iast.rw_exp 2
    pop local 2
    push constant 3
    call ML_Array.create_uninitialized 1
    pop local 3
    push local 3
    push constant 0
    push constant 19
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 2
    push local 2
    call ML_Array.set 3
    pop temp 0
    push local 3
    goto IfEnd74
label IfFalse73
    push constant 1
    call ML_Pervasives.exit 1
label IfEnd74
label IfEnd76
    goto IfEnd80
label IfFalse79
    push local 0
    push constant 19
    eq
    not
    if-goto IfFalse77
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 1
    push constant 2
    call ML_Array.get 2
    pop local 2
    push argument 1
    push constant 3
    call ML_Array.get 2
    pop local 3
    push argument 1
    push constant 4
    call ML_Array.get 2
    pop local 4
    push argument 0
    push local 2
    call ML_Ast2iast.rw_exp 2
    pop local 2
    push argument 0
    push local 3
    call ML_Ast2iast.rw_exp 2
    pop local 3
    push argument 0
    push local 4
    call ML_Ast2iast.rw_exp 2
    pop local 4
    push constant 5
    call ML_Array.create_uninitialized 1
    pop local 5
    push local 5
    push constant 0
    push constant 20
    call ML_Array.set 3
    pop temp 0
    push local 5
    push constant 1
    push local 1
    call ML_Array.set 3
    pop temp 0
    push local 5
    push constant 2
    push local 2
    call ML_Array.set 3
    pop temp 0
    push local 5
    push constant 3
    push local 3
    call ML_Array.set 3
    pop temp 0
    push local 5
    push constant 4
    push local 4
    call ML_Array.set 3
    pop temp 0
    push local 5
    goto IfEnd78
label IfFalse77
    push argument 1
    push constant 1
    call ML_Array.get 2
    pop local 1
    push local 1
    push constant 2
    call ML_Array.get 2
    pop local 2
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 3
    push local 3
    push constant 0
    push constant 0
    call ML_Array.set 3
    pop temp 0
    push local 3
    push constant 1
    push constant 0
    call ML_Array.set 3
    pop temp 0
    push local 3
label IfEnd78
label IfEnd80
label IfEnd82
label IfEnd84
label IfEnd86
label IfEnd88
    return
