// val "List.cons"
function ML_List.cons 0
    push argument 0
    push argument 1
    call ML_Internal.make_pair 2
    return
// val "List.hd"
function ML_List.hd 0
    push argument 0
    call ML_Internal.left 1
    return
// val "List.tl"
function ML_List.tl 0
    push argument 0
    call ML_Internal.right 1
    return
// val "List.map"
function ML_List.map 1
label map
    push argument 1
    push constant 256
    gt
    not
    not
    if-goto IfFalse9
    push argument 1
    goto IfEnd10
label IfFalse9
    push argument 1
    push constant 0
    call ML_Array.get 2
label IfEnd10
    pop local 0
    push constant 0
    return
