// val "M1.__lambda1"
function ML_M1.__lambda1 0
    push static 0
    return
// val "M1.__init____lambda1"
function ML_M1.__init____lambda1 0
    push constant 0
    pop static 0
    push static 0
    pop temp 7
    return
// val "M1.print"
function ML_M1.print 4
    push argument 0
    push constant 256
    gt
    not
    not
    if-goto IfFalse9
    push argument 0
    goto IfEnd10
label IfFalse9
    push argument 0
    push constant 0
    call ML_Array.get 2
label IfEnd10
    pop local 0
    push local 0
    push constant 1
    lt
    not
    if-goto IfFalse13
    push constant 42
    call ML_Pervasives.print_int 1
    goto IfEnd14
label IfFalse13
    push local 0
    push constant 1
    eq
    not
    if-goto IfFalse11
    push argument 0
    push constant 1
    call ML_Array.get 2
    pop local 1
    push argument 0
    push constant 2
    call ML_Array.get 2
    pop local 2
    push argument 0
    push constant 3
    call ML_Array.get 2
    pop local 3
    push local 1
    push local 2
    add
    push local 3
    add
    call ML_Pervasives.print_int 1
    goto IfEnd12
label IfFalse11
    push constant 1
    call ML_Pervasives.exit 1
label IfEnd12
label IfEnd14
    return
// val "M1.x"
function ML_M1.x 0
    push static 1
    return
// val "M1.__init__x"
function ML_M1.__init__x 0
    push constant 1
    pop static 1
    push static 1
    pop temp 7
    return
// val "M1.y"
function ML_M1.y 0
    push static 2
    return
// val "M1.__init__y"
function ML_M1.__init__y 0
    push constant 6
    call ML_M1.x 0
    call ML_Apply.apply 2
    pop static 2
    push static 2
    pop temp 7
    return
// val "M1.z"
function ML_M1.z 0
    push static 3
    return
// val "M1.__init__z"
function ML_M1.__init__z 0
    push constant 1
    call ML_M1.y 0
    call ML_Apply.apply 2
    pop static 3
    push static 3
    pop temp 7
    return
// val "M1.u"
function ML_M1.u 0
    push static 4
    return
// val "M1.__init__u"
function ML_M1.__init__u 0
    push constant 2
    pop static 4
    push static 4
    pop temp 7
    return
// val "M1.__voidExpr5"
function ML_M1.__voidExpr5 0
    push static 5
    return
// val "M1.__init____voidExpr5"
function ML_M1.__init____voidExpr5 5
    push constant 4
    call ML_Array.create_uninitialized 1
    pop local 0
    push local 0
    push constant 0
    push constant 1
    call ML_Internal.array_set 3
    pop temp 0
    push local 0
    push constant 1
    push constant 1
    call ML_Internal.array_set 3
    pop temp 0
    push local 0
    push constant 2
    push constant 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 0
    push constant 3
    push constant 3
    call ML_Internal.array_set 3
    pop temp 0
    push local 0
    pop local 0
    push local 0
    push constant 256
    gt
    not
    not
    if-goto IfFalse15
    push local 0
    goto IfEnd16
label IfFalse15
    push local 0
    push constant 0
    call ML_Array.get 2
label IfEnd16
    pop local 1
    push local 1
    push constant 1
    lt
    not
    if-goto IfFalse19
    push constant 42
    call ML_Pervasives.print_int 1
    goto IfEnd20
label IfFalse19
    push local 1
    push constant 1
    eq
    not
    if-goto IfFalse17
    push local 0
    push constant 1
    call ML_Array.get 2
    pop local 2
    push local 0
    push constant 2
    call ML_Array.get 2
    pop local 3
    push local 0
    push constant 3
    call ML_Array.get 2
    pop local 4
    push local 2
    push local 3
    add
    push local 4
    add
    call ML_Pervasives.print_int 1
    goto IfEnd18
label IfFalse17
    push constant 1
    call ML_Pervasives.exit 1
label IfEnd18
label IfEnd20
    pop static 5
    push static 5
    pop temp 7
    return
