// val "M1.__static1"
function ML_M1.__static1 0
    push static 0
    return
// val "M1.__init____static1"
function ML_M1.__init____static1 1
    push constant 6
    call ML_Array.create_uninitialized 1
    pop local 0
    push local 0
    push constant 0
    push constant 110
    call ML_Array.set 3
    pop temp 0
    push local 0
    push constant 1
    push constant 111
    call ML_Array.set 3
    pop temp 0
    push local 0
    push constant 2
    push constant 110
    call ML_Array.set 3
    pop temp 0
    push local 0
    push constant 3
    push constant 101
    call ML_Array.set 3
    pop temp 0
    push local 0
    push constant 4
    push constant 32
    call ML_Array.set 3
    pop temp 0
    push local 0
    push constant 5
    push constant 33
    call ML_Array.set 3
    pop temp 0
    push local 0
    pop static 0
    push static 0
    pop temp 7
    return
// val "M1.__voidExpr6"
function ML_M1.__voidExpr6 0
    push static 1
    return
// val "M1.__init____voidExpr6"
function ML_M1.__init____voidExpr6 1
    push constant 2
    call ML_Array.create_uninitialized 1
    pop local 0
    push local 0
    push constant 0
    push constant 1
    call ML_Array.set 3
    pop temp 0
    push local 0
    push constant 1
    push constant 4
    call ML_Array.set 3
    pop temp 0
    push local 0
    pop static 1
    push static 1
    pop temp 7
    return
// val "M1.c"
function ML_M1.c 0
    push static 2
    return
// val "M1.__init__c"
function ML_M1.__init__c 0
    push constant 0
    pop static 2
    push static 2
    pop temp 7
    return
// val "M1.f"
function ML_M1.f 2
    push argument 0
    pop local 0
    push local 0
    push constant 1
    lt
    not
    if-goto IfFalse11
    call ML_M1.__static1 0
    call ML_Pervasives.print_string 1
    goto IfEnd12
label IfFalse11
    push local 0
    push constant 1
    eq
    not
    if-goto IfFalse9
    push argument 0
    push constant 0
    call ML_Array.get 2
    pop local 1
    push local 1
    call ML_Pervasives.print_int 1
    goto IfEnd10
label IfFalse9
    push constant 20
    call ML_Array.create_uninitialized 1
    pop local 1
    push local 1
    push constant 0
    push constant 77
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 1
    push constant 97
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 2
    push constant 116
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 3
    push constant 99
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 4
    push constant 104
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 5
    push constant 95
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 6
    push constant 102
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 7
    push constant 97
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 8
    push constant 105
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 9
    push constant 108
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 10
    push constant 117
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 11
    push constant 114
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 12
    push constant 101
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 13
    push constant 44
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 14
    push constant 32
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 15
    push constant 101
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 16
    push constant 120
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 17
    push constant 105
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 18
    push constant 116
    call ML_Array.set 3
    pop temp 0
    push local 1
    push constant 19
    push constant 46
    call ML_Array.set 3
    pop temp 0
    push local 1
    call ML_Pervasives.failwith 1
label IfEnd10
label IfEnd12
    return
// val "M1.__voidExpr12"
function ML_M1.__voidExpr12 0
    push static 3
    return
// val "M1.__init____voidExpr12"
function ML_M1.__init____voidExpr12 0
    call ML_M1.__static1 0
    call ML_Pervasives.print_string 1
    pop static 3
    push static 3
    pop temp 7
    return
