function ML_Pervasives.exit 0
    push argument 0
    call ML_Internal.exit 1
    return
function ML_Pervasives.ref 0
    push     constant 1
    push argument 0
    call ML_Internal.array_make 2
    return
function ML_Pervasives.ref_contents 0
    push argument 0
    push     constant 0
    call ML_Internal.array_get 2
    return
function ML_Pervasives.ref_set_contents 0
    push argument 0
    push     constant 0
    push argument 1
    call ML_Internal.array_set 3
    return
function ML_Pervasives.incr 0
    push argument 0
    push argument 0
    call ML_Pervasives.ref_contents 1
    push     constant 1
    add
    call ML_Pervasives.ref_set_contents 2
    return
function ML_Pervasives.decr 0
    push argument 0
    push argument 0
    call ML_Pervasives.ref_contents 1
    push     constant 1
    sub
    call ML_Pervasives.ref_set_contents 2
    return
function ML_Pervasives.fst 0
    push argument 0
    push     constant 0
    call ML_Internal.array_get 2
    return
function ML_Pervasives.snd 0
    push argument 0
    push     constant 1
    call ML_Internal.array_get 2
    return
function ML_Pervasives.print_int 0
    push argument 0
    call ML_Internal.print_int 1
    return
function ML_Pervasives.print_char 0
    push argument 0
    call ML_Internal.print_char 1
    return
function ML_Pervasives.print_newline 0
    push argument 0
    call ML_Internal.print_newline 1
    return
function ML_Pervasives.print_string 0
    push argument 0
    call ML_Internal.print_char_array 1
    return
function ML_Pervasives.failwith 0
    push argument 0
    call ML_Pervasives.print_string 1
    pop temp 0
    push     constant 0
    call ML_Pervasives.print_newline 1
    pop temp 0
    push     constant 1
    call ML_Pervasives.exit 1
    return
function ML_Pervasives.abs 0
    push argument 0
    push     constant 0
    lt
    not
    not
    if-goto IfFalse1
    push argument 0
    goto IfEnd2
label IfFalse1
    push argument 0
    pop temp 0
    push     constant 0
    push temp 0
    sub
label IfEnd2
    return
function ML_Pervasives.max 0
    push argument 0
    push argument 1
    gt
    not
    if-goto IfFalse3
    push argument 0
    goto IfEnd4
label IfFalse3
    push argument 1
label IfEnd4
    return
function ML_Pervasives.(^) 6
    push argument 0
    call ML_Internal.array_length 1
    pop local 0
    push argument 1
    call ML_Internal.array_length 1
    pop local 1
    push local 0
    push local 1
    add
    call ML_Internal.array_create_uninitialized 1
    pop local 2
    push     constant 0
    call ML_Pervasives.ref 1
    pop local 3
    push local 0
    push     constant 1
    sub
    pop local 4
label WhileBegin5
    push local 3
    call ML_Pervasives.ref_contents 1
    push local 4
    gt
    not
    not
    if-goto WhileEnd6
    push local 3
    call ML_Pervasives.ref_contents 1
    pop local 5
    push local 2
    push local 5
    push argument 0
    push local 5
    call ML_Internal.array_get 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 3
    call ML_Pervasives.incr 1
    goto WhileBegin5
label WhileEnd6
    pop temp 0
    push     constant 0
    call ML_Pervasives.ref 1
    pop local 3
    push local 1
    push     constant 1
    sub
    pop local 4
label WhileBegin7
    push local 3
    call ML_Pervasives.ref_contents 1
    push local 4
    gt
    not
    not
    if-goto WhileEnd8
    push local 3
    call ML_Pervasives.ref_contents 1
    pop local 5
    push local 2
    push local 5
    push local 0
    add
    push argument 1
    push local 5
    call ML_Internal.array_get 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 3
    call ML_Pervasives.incr 1
    goto WhileBegin7
label WhileEnd8
    pop temp 0
    push local 2
    return
function ML_Pervasives.copy 5
    push argument 0
    call ML_Internal.array_length 1
    pop local 0
    push local 0
    call ML_Internal.array_create_uninitialized 1
    pop local 1
    push     constant 0
    call ML_Pervasives.ref 1
    pop local 2
    push local 0
    push     constant 1
    sub
    pop local 3
label WhileBegin9
    push local 2
    call ML_Pervasives.ref_contents 1
    push local 3
    gt
    not
    not
    if-goto WhileEnd10
    push local 2
    call ML_Pervasives.ref_contents 1
    pop local 4
    push local 1
    push local 4
    push argument 0
    push local 4
    call ML_Internal.array_get 2
    call ML_Internal.array_set 3
    pop temp 0
    push local 2
    call ML_Pervasives.incr 1
    goto WhileBegin9
label WhileEnd10
    pop temp 0
    push local 1
    return
function ML_Pervasives.aux_equal 0
label aux_equal
    push argument 2
    push     constant 0
    lt
    not
    if-goto IfFalse13
    push constant 0
    not
    goto IfEnd14
label IfFalse13
    push argument 0
    push argument 2
    call ML_Internal.array_get 2
    push argument 1
    push argument 2
    call ML_Internal.array_get 2
    eq
    not
    if-goto IfFalse11
    push argument 2
    push     constant 1
    sub
    push argument 1
    push argument 0
    pop argument 0
    pop argument 1
    pop argument 2
    goto aux_equal
    goto IfEnd12
label IfFalse11
    push constant 0

label IfEnd12
label IfEnd14
    return
function ML_Pervasives.equal 1
    push argument 0
    call ML_Internal.array_length 1
    pop local 0
    push argument 0
    push argument 1
    push local 0
    push     constant 1
    sub
    call ML_Pervasives.aux_equal 3
    return
function ML_Pervasives.string_of_int 0
    push     constant 1
    push argument 0
    call ML_Internal.array_make 2
    return
function ML_Pervasives.int_of_char 0
    push argument 0
    return
function ML_Pervasives.compare 0
    push argument 0
    push argument 1
    lt
    not
    if-goto IfFalse17
    push     constant 1
    pop temp 0
    push     constant 0
    push temp 0
    sub
    goto IfEnd18
label IfFalse17
    push argument 0
    push argument 1
    eq
    not
    if-goto IfFalse15
    push     constant 0
    goto IfEnd16
label IfFalse15
    push     constant 1
label IfEnd16
label IfEnd18
    return
