// val "Start.main"
function ML_Start.main 0
    call ML_Assert.__init____static79 0
    call ML_Assert.__init____static78 0
    call ML_Assert.__init____static77 0
    call ML_Assert.__init____static76 0
    call ML_Assert.__init____static75 0
    call ML_Assert.__init____static74 0
    call ML_Assert.__init____static73 0
    call ML_Assert.__init____static72 0
    call ML_Assert.__init____static71 0
    call ML_Assert.__init____static70 0
    call ML_Assert.__init____static69 0
    call ML_Assert.__init____static68 0
    call ML_Assert.__init____static67 0
    call ML_Assert.__init____static66 0
    call ML_Assert.__init____static65 0
    call ML_Assert.__init____static64 0
    call ML_Assert.__init____static63 0
    call ML_Assert.__init____static62 0
    call ML_Assert.__init____static61 0
    call ML_Assert.__init____static60 0
    call ML_Assert.__init____static59 0
    call ML_Assert.__init____static58 0
    call ML_Assert.__init____static57 0
    call ML_Assert.__init____static56 0
    call ML_Assert.__init____static55 0
    call ML_Assert.__init____static54 0
    call ML_Assert.__init____static53 0
    call ML_Assert.__init____static52 0
    call ML_Assert.__init____static51 0
    call ML_Assert.__init____static50 0
    call ML_Assert.__init____static49 0
    call ML_Assert.__init____static48 0
    call ML_Assert.__init____static47 0
    call ML_Assert.__init____static46 0
    call ML_Assert.__init____static45 0
    call ML_Assert.__init____static44 0
    call ML_Assert.__init____static43 0
    call ML_Assert.__init____static42 0
    call ML_Assert.__init____static41 0
    call ML_Assert.__init____static40 0
    call ML_Assert.__init____static39 0
    call ML_Assert.__init____static38 0
    call ML_Assert.__init____static37 0
    call ML_Assert.__init____static36 0
    call ML_Assert.__init____static35 0
    call ML_Assert.__init____static34 0
    call ML_Assert.__init____static33 0
    call ML_Assert.__init____static32 0
    call ML_Assert.__init____static31 0
    call ML_Assert.__init____static30 0
    call ML_Assert.__init____static29 0
    call ML_Assert.__init____static28 0
    call ML_Assert.__init____static27 0
    call ML_Assert.__init____static26 0
    call ML_Assert.__init____static25 0
    call ML_Assert.__init____static24 0
    call ML_Assert.__init____static23 0
    call ML_Assert.__init____static22 0
    call ML_Assert.__init____static21 0
    call ML_Assert.__init____static20 0
    call ML_Assert.__init____static19 0
    call ML_Assert.__init____static18 0
    call ML_Assert.__init____static17 0
    call ML_Assert.__init____static16 0
    call ML_Assert.__init____static15 0
    call ML_Assert.__init____static14 0
    call ML_Assert.__init____static13 0
    call ML_Assert.__init____static12 0
    call ML_Assert.__init____static11 0
    call ML_Assert.__init____static10 0
    call ML_Assert.__init____static9 0
    call ML_Assert.__init____static8 0
    call ML_Assert.__init____static7 0
    call ML_Assert.__init____static6 0
    call ML_Assert.__init____static5 0
    call ML_Assert.__init____static4 0
    call ML_Assert.__init____static3 0
    call ML_Assert.__init____static2 0
    call ML_Assert.__init____static1 0
    call ML_Assert.__init____voidExpr80 0
    call ML_Assert.__init____lambda1 0
    call ML_Assert.__init____voidExpr84 0
    call ML_Assert.__init____lambda3 0
    call ML_Assert.__init____lambda4 0
    call ML_Assert.__init____lambda5 0
    call ML_Assert.__init____lambda6 0
    call ML_Assert.__init____lambda7 0
    call ML_Assert.__init____lambda8 0
    call ML_Assert.__init____voidExpr105 0
    call ML_Assert.__init____lambda9 0
    call ML_Assert.__init____lambda10 0
    call ML_Assert.__init____voidExpr111 0
    call ML_Assert.__init____lambda11 0
    call ML_Assert.__init____voidExpr115 0
    call ML_Assert.__init____lambda13 0
    call ML_Assert.__init____voidExpr119 0
    call ML_Assert.__init____voidExpr120 0
    call ML_Assert.__init____voidExpr122 0
    call ML_Assert.__init____voidExpr124 0
    call ML_Assert.__init____voidExpr127 0
    call ML_Assert.__init____voidExpr129 0
    call ML_Assert.__init____voidExpr132 0
    call ML_Assert.__init____voidExpr139 0
    call ML_Assert.__init____voidExpr141 0
    call ML_Assert.__init____voidExpr149 0
    push constant 0
    return
