// val "Start.main"
function ML_Start.main 0
    call ML_M1.__init____static1 0
    call ML_M1.__init____voidExpr6 0
    call ML_M1.__init__c 0
    call ML_M1.__init____voidExpr12 0
    push constant 0
    return
