///////////////////////////////////////////////////////////////
function Test.check_references 2
    // (<seq>
    //  (<if>
    //   (<binop>
    //    (<let>
    //     (<const>
    push constant 2
    //     )
    pop local 0
    //     (<if>
    //      (<binop>
    //       (<var>
    push local 0
    //       )
    //       (<const>
    push constant 2
    //       )
    lt
    //      )
    not
    if-goto IfFalse7
    //      (<if>
    //       (<binop>
    //        (<var>
    push local 0
    //        )
    //        (<const>
    push constant 1
    //        )
    lt
    //       )
    not
    if-goto IfFalse3
    //       (<const>
    push constant 1
    //       )
    goto IfEnd4
label IfFalse3
    //       (<if>
    //        (<binop>
    //         (<var>
    push local 0
    //         )
    //         (<const>
    push constant 1
    //         )
    eq
    //        )
    not
    if-goto IfFalse1
    //        (<const>
    push constant 2
    //        )
    goto IfEnd2
label IfFalse1
    //        (<const>
    push constant 0
    //        )
label IfEnd2
    //       )
label IfEnd4
    //      )
    goto IfEnd8
label IfFalse7
    //      (<if>
    //       (<binop>
    //        (<var>
    push local 0
    //        )
    //        (<const>
    push constant 2
    //        )
    eq
    //       )
    not
    if-goto IfFalse5
    //       (<const>
    push constant 42
    //       )
    goto IfEnd6
label IfFalse5
    //       (<const>
    push constant 3
    //       )
label IfEnd6
    //      )
label IfEnd8
    //     )
    //    )
    //    (<const>
    push constant 42
    //    )
    eq
    //   )
    not
    if-goto IfFalse9
    //   (<const>
    push constant 0
    //   )
    goto IfEnd10
label IfFalse9
    //   (<app>
    //    (<const>
    push constant 1
    //    )
    call Pervasives.exit 1
    //   )
label IfEnd10
    //  )
    pop temp 0
    //  (<seq>
    //   (<if>
    //    (<binop>
    //     (<let>
    //      (<const>
    push constant 5
    //      )
    pop local 0
    //      (<const>
    push constant 42
    //      )
    //     )
    //     (<const>
    push constant 42
    //     )
    eq
    //    )
    not
    if-goto IfFalse11
    //    (<const>
    push constant 0
    //    )
    goto IfEnd12
label IfFalse11
    //    (<app>
    //     (<const>
    push constant 1
    //     )
    call Pervasives.exit 1
    //    )
label IfEnd12
    //   )
    pop temp 0
    //   (<seq>
    //    (<if>
    //     (<binop>
    //      (<let>
    //       (<const>
    push constant 5
    //       )
    pop local 0
    //       (<const>
    push constant 42
    //       )
    //      )
    //      (<const>
    push constant 42
    //      )
    eq
    //     )
    not
    if-goto IfFalse13
    //     (<const>
    push constant 0
    //     )
    goto IfEnd14
label IfFalse13
    //     (<app>
    //      (<const>
    push constant 1
    //      )
    call Pervasives.exit 1
    //     )
label IfEnd14
    //    )
    pop temp 0
    //    (<seq>
    //     (<if>
    //      (<binop>
    //       (<let>
    //        (<const>
    push constant 5
    //        )
    pop local 0
    //        (<const>
    push constant 42
    //        )
    //       )
    //       (<const>
    push constant 42
    //       )
    eq
    //      )
    not
    if-goto IfFalse15
    //      (<const>
    push constant 0
    //      )
    goto IfEnd16
label IfFalse15
    //      (<app>
    //       (<const>
    push constant 1
    //       )
    call Pervasives.exit 1
    //      )
label IfEnd16
    //     )
    pop temp 0
    //     (<seq>
    //      (<if>
    //       (<binop>
    //        (<let>
    //         (<const>
    push constant 5
    //         )
    pop local 0
    //         (<if>
    //          (<binop>
    //           (<var>
    push local 0
    //           )
    //           (<const>
    push constant 5
    //           )
    lt
    //          )
    not
    if-goto IfFalse19
    //          (<const>
    push constant 18
    //          )
    goto IfEnd20
label IfFalse19
    //          (<if>
    //           (<binop>
    //            (<var>
    push local 0
    //            )
    //            (<const>
    push constant 5
    //            )
    eq
    //           )
    not
    if-goto IfFalse17
    //           (<const>
    push constant 42
    //           )
    goto IfEnd18
label IfFalse17
    //           (<const>
    push constant 17
    //           )
label IfEnd18
    //          )
label IfEnd20
    //         )
    //        )
    //        (<const>
    push constant 42
    //        )
    eq
    //       )
    not
    if-goto IfFalse21
    //       (<const>
    push constant 0
    //       )
    goto IfEnd22
label IfFalse21
    //       (<app>
    //        (<const>
    push constant 1
    //        )
    call Pervasives.exit 1
    //       )
label IfEnd22
    //      )
    pop temp 0
    //      (<seq>
    //       (<if>
    //        (<binop>
    //         (<let>
    //          (<const>
    push constant 5
    //          )
    pop local 0
    //          (<if>
    //           (<binop>
    //            (<var>
    push local 0
    //            )
    //            (<const>
    push constant 2
    //            )
    lt
    //           )
    not
    if-goto IfFalse25
    //           (<const>
    push constant 62
    //           )
    goto IfEnd26
label IfFalse25
    //           (<if>
    //            (<binop>
    //             (<var>
    push local 0
    //             )
    //             (<const>
    push constant 2
    //             )
    eq
    //            )
    not
    if-goto IfFalse23
    //            (<const>
    push constant 18
    //            )
    goto IfEnd24
label IfFalse23
    //            (<const>
    push constant 42
    //            )
label IfEnd24
    //           )
label IfEnd26
    //          )
    //         )
    //         (<const>
    push constant 42
    //         )
    eq
    //        )
    not
    if-goto IfFalse27
    //        (<const>
    push constant 0
    //        )
    goto IfEnd28
label IfFalse27
    //        (<app>
    //         (<const>
    push constant 1
    //         )
    call Pervasives.exit 1
    //        )
label IfEnd28
    //       )
    pop temp 0
    //       (<let>
    //        (<const>
    push constant 3
    //        )
    pop local 0
    //        (<if>
    //         (<binop>
    //          (<var>
    push local 0
    //          )
    //          (<const>
    push constant 5
    //          )
    lt
    //         )
    not
    if-goto IfFalse39
    //         (<if>
    //          (<binop>
    //           (<var>
    push local 0
    //           )
    //           (<const>
    push constant 2
    //           )
    lt
    //          )
    not
    if-goto IfFalse31
    //          (<app>
    //           (<let>
    //            (<app>
    //             (<const>
    push constant 1
    //             )
    call Array.create_uninitialized 1
    //            )
    pop local 1
    //            (<seq>
    //             (<app>
    //              (<var>
    push local 1
    //              )
    //              (<const>
    push constant 0
    //              )
    //              (<const>
    push constant 49
    //              )
    call Array.set 3
    //             )
    pop temp 0
    //             (<var>
    push local 1
    //             )
    //            )
    //           )
    call Pervasives.print_string 1
    //          )
    goto IfEnd32
label IfFalse31
    //          (<if>
    //           (<binop>
    //            (<var>
    push local 0
    //            )
    //            (<const>
    push constant 2
    //            )
    eq
    //           )
    not
    if-goto IfFalse29
    //           (<app>
    //            (<let>
    //             (<app>
    //              (<const>
    push constant 1
    //              )
    call Array.create_uninitialized 1
    //             )
    pop local 1
    //             (<seq>
    //              (<app>
    //               (<var>
    push local 1
    //               )
    //               (<const>
    push constant 0
    //               )
    //               (<const>
    push constant 50
    //               )
    call Array.set 3
    //              )
    pop temp 0
    //              (<var>
    push local 1
    //              )
    //             )
    //            )
    call Pervasives.print_string 1
    //           )
    goto IfEnd30
label IfFalse29
    //           (<app>
    //            (<let>
    //             (<app>
    //              (<const>
    push constant 2
    //              )
    call Array.create_uninitialized 1
    //             )
    pop local 1
    //             (<seq>
    //              (<app>
    //               (<var>
    push local 1
    //               )
    //               (<const>
    push constant 0
    //               )
    //               (<const>
    push constant 111
    //               )
    call Array.set 3
    //              )
    pop temp 0
    //              (<seq>
    //               (<app>
    //                (<var>
    push local 1
    //                )
    //                (<const>
    push constant 1
    //                )
    //                (<const>
    push constant 107
    //                )
    call Array.set 3
    //               )
    pop temp 0
    //               (<var>
    push local 1
    //               )
    //              )
    //             )
    //            )
    call Pervasives.print_string 1
    //           )
label IfEnd30
    //          )
label IfEnd32
    //         )
    goto IfEnd40
label IfFalse39
    //         (<if>
    //          (<binop>
    //           (<var>
    push local 0
    //           )
    //           (<const>
    push constant 5
    //           )
    eq
    //          )
    not
    if-goto IfFalse37
    //          (<app>
    //           (<let>
    //            (<app>
    //             (<const>
    push constant 1
    //             )
    call Array.create_uninitialized 1
    //            )
    pop local 1
    //            (<seq>
    //             (<app>
    //              (<var>
    push local 1
    //              )
    //              (<const>
    push constant 0
    //              )
    //              (<const>
    push constant 49
    //              )
    call Array.set 3
    //             )
    pop temp 0
    //             (<var>
    push local 1
    //             )
    //            )
    //           )
    call Pervasives.print_string 1
    //          )
    goto IfEnd38
label IfFalse37
    //          (<if>
    //           (<binop>
    //            (<var>
    push local 0
    //            )
    //            (<const>
    push constant 8
    //            )
    lt
    //           )
    not
    if-goto IfFalse35
    //           (<app>
    //            (<let>
    //             (<app>
    //              (<const>
    push constant 1
    //              )
    call Array.create_uninitialized 1
    //             )
    pop local 1
    //             (<seq>
    //              (<app>
    //               (<var>
    push local 1
    //               )
    //               (<const>
    push constant 0
    //               )
    //               (<const>
    push constant 50
    //               )
    call Array.set 3
    //              )
    pop temp 0
    //              (<var>
    push local 1
    //              )
    //             )
    //            )
    call Pervasives.print_string 1
    //           )
    goto IfEnd36
label IfFalse35
    //           (<if>
    //            (<binop>
    //             (<var>
    push local 0
    //             )
    //             (<const>
    push constant 8
    //             )
    eq
    //            )
    not
    if-goto IfFalse33
    //            (<app>
    //             (<let>
    //              (<app>
    //               (<const>
    push constant 1
    //               )
    call Array.create_uninitialized 1
    //              )
    pop local 1
    //              (<seq>
    //               (<app>
    //                (<var>
    push local 1
    //                )
    //                (<const>
    push constant 0
    //                )
    //                (<const>
    push constant 50
    //                )
    call Array.set 3
    //               )
    pop temp 0
    //               (<var>
    push local 1
    //               )
    //              )
    //             )
    call Pervasives.print_string 1
    //            )
    goto IfEnd34
label IfFalse33
    //            (<app>
    //             (<let>
    //              (<app>
    //               (<const>
    push constant 2
    //               )
    call Array.create_uninitialized 1
    //              )
    pop local 1
    //              (<seq>
    //               (<app>
    //                (<var>
    push local 1
    //                )
    //                (<const>
    push constant 0
    //                )
    //                (<const>
    push constant 107
    //                )
    call Array.set 3
    //               )
    pop temp 0
    //               (<seq>
    //                (<app>
    //                 (<var>
    push local 1
    //                 )
    //                 (<const>
    push constant 1
    //                 )
    //                 (<const>
    push constant 111
    //                 )
    call Array.set 3
    //                )
    pop temp 0
    //                (<var>
    push local 1
    //                )
    //               )
    //              )
    //             )
    call Pervasives.print_string 1
    //            )
label IfEnd34
    //           )
label IfEnd36
    //          )
label IfEnd38
    //         )
label IfEnd40
    //        )
    //       )
    //      )
    //     )
    //    )
    //   )
    //  )
    // )
    return
///////////////////////////////////////////////////////////////
function Test.__voidExpr15 0
    push static 0
    return
///////////////////////////////////////////////////////////////
function Test.__init____voidExpr15 0
    //  (<app>
    //   (<const>
    push constant 0
    //   )
    call Test.check_references 1
    //  )
    pop static 0
    push static 0
    pop temp 7
    return
