///////////////////////////////////////////////////////////////
function Test.check_references 2
    // (<let>
    //  (<const>
    push constant 3
    //  )
    pop local 0
    //  (<if>
    //   (<binop>
    //    (<var>
    push local 0
    //    )
    //    (<const>
    push constant 5
    //    )
    lt
    //   )
    not
    if-goto IfFalse11
    //   (<if>
    //    (<binop>
    //     (<var>
    push local 0
    //     )
    //     (<const>
    push constant 2
    //     )
    lt
    //    )
    not
    if-goto IfFalse3
    //    (<app>
    //     (<let>
    //      (<app>
    //       (<const>
    push constant 1
    //       )
    call Array.create_uninitialized 1
    //      )
    pop local 1
    //      (<seq>
    //       (<app>
    //        (<var>
    push local 1
    //        )
    //        (<const>
    push constant 0
    //        )
    //        (<const>
    push constant 49
    //        )
    call Array.set 3
    //       )
    pop temp 0
    //       (<var>
    push local 1
    //       )
    //      )
    //     )
    call Pervasives.print_string 1
    //    )
    goto IfEnd4
label IfFalse3
    //    (<if>
    //     (<binop>
    //      (<var>
    push local 0
    //      )
    //      (<const>
    push constant 2
    //      )
    eq
    //     )
    not
    if-goto IfFalse1
    //     (<app>
    //      (<let>
    //       (<app>
    //        (<const>
    push constant 1
    //        )
    call Array.create_uninitialized 1
    //       )
    pop local 1
    //       (<seq>
    //        (<app>
    //         (<var>
    push local 1
    //         )
    //         (<const>
    push constant 0
    //         )
    //         (<const>
    push constant 50
    //         )
    call Array.set 3
    //        )
    pop temp 0
    //        (<var>
    push local 1
    //        )
    //       )
    //      )
    call Pervasives.print_string 1
    //     )
    goto IfEnd2
label IfFalse1
    //     (<app>
    //      (<let>
    //       (<app>
    //        (<const>
    push constant 2
    //        )
    call Array.create_uninitialized 1
    //       )
    pop local 1
    //       (<seq>
    //        (<app>
    //         (<var>
    push local 1
    //         )
    //         (<const>
    push constant 0
    //         )
    //         (<const>
    push constant 111
    //         )
    call Array.set 3
    //        )
    pop temp 0
    //        (<seq>
    //         (<app>
    //          (<var>
    push local 1
    //          )
    //          (<const>
    push constant 1
    //          )
    //          (<const>
    push constant 107
    //          )
    call Array.set 3
    //         )
    pop temp 0
    //         (<var>
    push local 1
    //         )
    //        )
    //       )
    //      )
    call Pervasives.print_string 1
    //     )
label IfEnd2
    //    )
label IfEnd4
    //   )
    goto IfEnd12
label IfFalse11
    //   (<if>
    //    (<binop>
    //     (<var>
    push local 0
    //     )
    //     (<const>
    push constant 5
    //     )
    eq
    //    )
    not
    if-goto IfFalse9
    //    (<app>
    //     (<let>
    //      (<app>
    //       (<const>
    push constant 1
    //       )
    call Array.create_uninitialized 1
    //      )
    pop local 1
    //      (<seq>
    //       (<app>
    //        (<var>
    push local 1
    //        )
    //        (<const>
    push constant 0
    //        )
    //        (<const>
    push constant 49
    //        )
    call Array.set 3
    //       )
    pop temp 0
    //       (<var>
    push local 1
    //       )
    //      )
    //     )
    call Pervasives.print_string 1
    //    )
    goto IfEnd10
label IfFalse9
    //    (<if>
    //     (<binop>
    //      (<var>
    push local 0
    //      )
    //      (<const>
    push constant 8
    //      )
    lt
    //     )
    not
    if-goto IfFalse7
    //     (<app>
    //      (<let>
    //       (<app>
    //        (<const>
    push constant 1
    //        )
    call Array.create_uninitialized 1
    //       )
    pop local 1
    //       (<seq>
    //        (<app>
    //         (<var>
    push local 1
    //         )
    //         (<const>
    push constant 0
    //         )
    //         (<const>
    push constant 50
    //         )
    call Array.set 3
    //        )
    pop temp 0
    //        (<var>
    push local 1
    //        )
    //       )
    //      )
    call Pervasives.print_string 1
    //     )
    goto IfEnd8
label IfFalse7
    //     (<if>
    //      (<binop>
    //       (<var>
    push local 0
    //       )
    //       (<const>
    push constant 8
    //       )
    eq
    //      )
    not
    if-goto IfFalse5
    //      (<app>
    //       (<let>
    //        (<app>
    //         (<const>
    push constant 1
    //         )
    call Array.create_uninitialized 1
    //        )
    pop local 1
    //        (<seq>
    //         (<app>
    //          (<var>
    push local 1
    //          )
    //          (<const>
    push constant 0
    //          )
    //          (<const>
    push constant 50
    //          )
    call Array.set 3
    //         )
    pop temp 0
    //         (<var>
    push local 1
    //         )
    //        )
    //       )
    call Pervasives.print_string 1
    //      )
    goto IfEnd6
label IfFalse5
    //      (<app>
    //       (<let>
    //        (<app>
    //         (<const>
    push constant 2
    //         )
    call Array.create_uninitialized 1
    //        )
    pop local 1
    //        (<seq>
    //         (<app>
    //          (<var>
    push local 1
    //          )
    //          (<const>
    push constant 0
    //          )
    //          (<const>
    push constant 107
    //          )
    call Array.set 3
    //         )
    pop temp 0
    //         (<seq>
    //          (<app>
    //           (<var>
    push local 1
    //           )
    //           (<const>
    push constant 1
    //           )
    //           (<const>
    push constant 111
    //           )
    call Array.set 3
    //          )
    pop temp 0
    //          (<var>
    push local 1
    //          )
    //         )
    //        )
    //       )
    call Pervasives.print_string 1
    //      )
label IfEnd6
    //     )
label IfEnd8
    //    )
label IfEnd10
    //   )
label IfEnd12
    //  )
    // )
    return
///////////////////////////////////////////////////////////////
function Test.__voidExpr9 0
    push static 0
    return
///////////////////////////////////////////////////////////////
function Test.__init____voidExpr9 0
    //  (<app>
    //   (<const>
    push constant 0
    //   )
    call Test.check_references 1
    //  )
    pop static 0
    push static 0
    pop temp 7
    return
