function Sample010.test 2
push constant 1
pop local 1
push constant 0
push local 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 17
goto IF_END1
label IF_FALSE1
push constant 1
push local 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 42
goto IF_END2
label IF_FALSE2
push constant 2
push local 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 28
goto IF_END3
label IF_FALSE3
push constant 0
label IF_END3
label IF_END2
label IF_END1
pop local 0
push local 0
call Output.printInt 1
pop temp 0
pop temp 0
pop temp 0
call Output.println 0
return

