function Main.main 2
push constant 2
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
pop local 0
label WHILE_EXP1
push local 0
push constant 0
add
push constant 1
add
pop pointer 1
push temp 0
push that 0
push constant 10
lt
not
if-goto WHILE_END01
push local 0
push constant 0
add
push constant 1
add
pop pointer 1
push temp 0
push that 0
call Output.printInt 1
pop temp 0
pop temp 0
pop temp 0
call Output.println 0
pop temp 0
push local 0
push constant 0
add
push constant 1
add
pop pointer 1
push temp 0
push that 0
push constant 1
add
pop local 1
push constant 0
push local 0
add
push constant 1
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
pop temp 0
goto WHILE_EXP1
label WHILE_END01
return

